<div >
  <mat-form-field>
    <input matInput placeholder="nombreProveedor" [(value)]="proveedorinsumo.nombreProveedor">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="numeroContacto" [(value)]="proveedorinsumo.numeroContacto">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="correo" [(value)]="proveedorinsumo.correo">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="direccion" [(value)]="proveedorinsumo.direccion">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>